<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> 
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
<div class="main">
<div class="masthead">
<h1><a href="index.html"><i>KnausHaus</i></a></h1>
<p><a href="#" class="head">@knaushaus</a><br>
<i>funny & sad & rock & roll</i><br>
<a href="/" class="head">home</a> &#8859; <a href="/about" class="head">about</a> &#8859; <a href="/submit" class="head">submit</a> &#8859; <a href="/content" class="head">content</a>  &#8859; <a href="/TOC" class="head">TOC</a>
</p> 
</div>

				{{ content }}

	<br style="clear: both;">
<br>
<br>
<p>&copy; KnausHaus 2018<br>
Each piece &copy; its author</p>
</div>
</body>
</html>
	
